selenium
webdriver-manager
beautifulsoup4
requests
nltk
regex
click
joblib
gensim
smart_open
scikit-learn
langdetect
textblob
stop-words
janome
stopwordsiso
transformers
torch
openai
python-dotenv
protobuf
tiktoken
sentencepiece
pandas
numpy
scipy
pytest
flake8
matplotlib
seaborn
google-generativeai
